<a href="https://colab.research.google.com/github/OhJunYoung21/artificial-inteliigence/blob/main/train_csv_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import matplotlib.pyplot as plt

f = pd.read_csv('/content/train.csv')

train_1 = pd.DataFrame(f)

train_1.columns

Index(['date_time', 'wind_direction', 'sky_condition', 'precipitation_form',
       'wind_speed', 'humidity', 'low_temp', 'high_temp',
       'Precipitation_Probability', 'number_of_rentals'],
      dtype='object')

In [7]:
train_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   date_time                  273 non-null    object
 1   wind_direction             273 non-null    float64
 2   sky_condition              273 non-null    float64
 3   precipitation_form         273 non-null    float64
 4   wind_speed                 273 non-null    float64
 5   humidity                   273 non-null    float64
 6   low_temp                   273 non-null    float64
 7   high_temp                  273 non-null    float64
 8   Precipitation_Probability  273 non-null    float64
 9   number_of_rentals          273 non-null    int64
dtypes: float64(8), int64(1), object(1)
memory usage: 21.5+ KB

In [8]:
train_1.head()

    date_time  wind_direction  ...  Precipitation_Probability  number_of_rentals
0  2018-04-01         207.500  ...                     30.000              22994
1  2018-04-02         208.317  ...                     19.500              28139
2  2018-04-03         213.516  ...                     19.113              26817
3  2018-04-04         143.836  ...                     43.493              26034
4  2018-04-05          95.905  ...                     63.378               2833

[5 rows x 10 columns]

In [12]:
train_1.corr()['wind_speed'].sort_values(ascending=False)

wind_speed                   1.000000
precipitation_form           0.287325
Precipitation_Probability    0.241207
sky_condition                0.140816
wind_direction               0.079138
humidity                     0.036239
low_temp                    -0.399858
high_temp                   -0.443547
number_of_rentals           -0.464761
Name: wind_speed, dtype: float64

In [81]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import  StandardScaler
import numpy as np

feature = np.array(train_1['wind_direction'])
target = train_1['high_temp']

feature = feature[:,np.newaxis]
#target = target[:,np.newaxis]

x_train,x_test,y_train,y_test = train_test_split(feature,target,test_size=0.3,random_state=0)


Lin = LinearRegression()

Lin.fit(x_train,y_train)


score = Lin.score(x_test,y_test)

print("선형회귀로 예측한 점수는 {:.2f}입니다".format(score))   #형편없는 점수가 나왔다.

선형회귀로 예측한 점수는 -0.03입니다